@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}

:root {
  --spacer: 20px;
  --body-font-size: 16px;
  --body-font-size-lg: 22px;
  --body-font-size-md: 18px;
  --body-line-height: 1.5715;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  width: 100%;
  min-height: 100vh;
  color: #4C4C4C;
  position: relative;
  background-color: #fff;
}

.hide { display: none!important; visibility: hidden;width: 0; height: 0;}

.not-allow {
  pointer-events: none;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.text-black {
  color: #000
}

.w-100 {
  width: 100%;
}

.mt-5 {
  margin-top: 5px!important;
}

.mt-15 {
  margin-top: 15px;
}

.mb-0 {
  margin-bottom: 0px!important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-20px {
  margin-top: 20px;
}

.mr-7px  {
  margin-right: 7px;
}

.p-15 {
  padding: 15px;
}
.fs-14 {
  font-size: 14px!important;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}

.f-bold {
  font-weight: bold;
}

.fs-lg {
  font-size: var(--body-font-size-lg) !important;
}

.fs-md {
  font-size: var(--body-font-size-md) !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}

.d-none {
  display: none!important;
}

.my-3 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

pre {
  overflow: auto;
}

.faker-phone {
	position: relative;
	background: #2d3436;
	width: calc(98px * 4);
	height: calc(211px * 4);
	padding: 60px 15px 70px;
	border-radius: 35px;
	box-sizing: border-box;
	
	&::before {
		content: '';
		position: absolute;
		top: 27px;
		left: 50%;
		margin-left: -25px;
		width: 50px;
		height: 6px;
		border-radius: 3px;
		background: #000;
		opacity: .7;
	}
	
	&::after {
		content: '';
		position: absolute;
		bottom: 15px;
		left: 50%;
		margin-left: -22px;
		height: 40px;
		width: 40px;
		background: rgba(0, 0, 0, .5);
		border: 2px solid rgba(0, 0, 0, .8);
		border-radius: 100%;
	}
	
	&--screen {
		width: 100%;
		height: 100%;
		background: #fff;
		overflow: auto;
		position: relative;
	}
}

.faker-phone--screen {
  overflow: auto;
  height: 100%;
  max-height: 100%;
  background-color: #fff;
  position: relative;
}

.faker-phone--screen::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.faker-phone--screen::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.faker-phone--screen::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.faker-phone--screen::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

.page-content {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: var(--spacer, .75rem);
  padding-left: var(--spacer, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.header-top {
  height: 48px;
  position: relative;
}

.content-inner {
  padding: var(--spacer) 1.25rem;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.badge {
  --badge-padding-x: 0.4375rem;
  --badge-padding-y: 0.3125rem;
  --badge-font-weight: 600;
  --badge-color: #000;
  --badge-background: pink;
  --badge-border-radius: var(--border-radius-sm);
  display: inline-block;
  padding: var(--badge-padding-y) var(--badge-padding-x);
  font-weight: var(--badge-font-weight);
  line-height: 1;
  color: var(--badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--badge-border-radius);
  background-color: var(--badge-background);
}

.badge-style {
  max-width: 70%; /* Giới hạn chiều rộng của badge */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  white-space: nowrap;
}

.content-img img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

table, tr, td { 
  border: 1px solid gray;
}

table img {
  max-width: 100% !important;
  height: auto;
}

.toc_container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.toc_container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.toc_container li ul {
  padding-left: 30px;
}

.toc_container li a:not(.btn-arrow) {
  padding: 10px 0;
}

.toc-link,
.btn-arrow {
  color: gray;
}

.btn-arrow {
  text-decoration: none;
  width: 22px;
  height: 22px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  margin-right: 10px;
}

.btn-arrow--gray {
  background-color: grey;
  color: #fff;
}

.toc-submenu {
  display: none; 
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.toc-submenu li { 
  margin: 5px 0; 
}

.toc-submenu.open {
  display: block;
}

.btn-arrow {
  transition: transform 0.3s ease-in-out;
}

.btn-arrow.open {
  transform: rotate(-180deg);
}

.title-doc {
  --title-doc-font-size: 20px;
  font-size: var(--title-doc-font-size);
  margin-bottom: 15px;
}

.title-doc--main {
  --tilte-doc-line-color: pink;
  padding-left: 8px;
  border-left: 3px solid var(--tilte-doc-line-color);
  font-size: var(--title-doc-font-size);
}

.content {
  margin-bottom: 15px;
}

.content,
.content-text {
  word-break: break-word;
  overflow: hidden;
}


.content *,
.content-text * {
  max-width: 100% !important;
}

.content img {
  max-width: 100%;
}

.btn-back-top {
  z-index: 100;
  position: fixed;
  right: 0;
  bottom: 65px;
  width: 40px;
  height: 35px;
  line-height: 37px;
  text-align: center;
  overflow: hidden;
  color: white;
  text-decoration: none;
  border-radius: 10px 0 0 10px;
  background-color: #999;
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  border: none;
}

.btn-back-top-custom {
  z-index: 1;
  position: absolute;
  right: 16px;
  bottom: 85px;
  width: 40px;
  height: 35px;
  line-height: 37px;
  text-align: center;
  overflow: hidden;
  color: white;
  text-decoration: none;
  border-radius: 10px 0 0 10px;
  background-color: #999;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border: none;
}

.btn-back-top.show {
  transform: translateX(0);
  opacity: 0.8;
}

.btn-back-top-custom.show { 
  transform: translateX(0);
  opacity: 0.8;
}