.modal {
    position: fixed;
    top: 0;
    left: 0;
	right: 0;
	bottom: 0;
    padding: 0 15px;
    z-index: 1060;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    opacity: 0;
    transform: translateY(100vh);
    transition: all .5s;
}

.fadeinBottom {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
}