header .header-title {
    background-color: #23B14D;
}

.answer {
    padding: 10px;
    height: calc(100vh - 145px);
    overflow: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
}
.answer-item {
    border: 1px solid #49A3E5;
    border-radius: 15px;
    padding: 10px 0;
    background-color: #FAFAFA;
    margin-top: 10px;
    transition: height 1s; 
}

.answer-item a {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
    text-decoration: none;
}

.answer-item:first-child {
    margin-top: 0px;
}
/* .answer-item .js-read-smore {
    margin: 0;
} */

.answer-content:not(.js-read-smore) > img:not(:first-child) {
    display: none;
}

.answer-item .hidden-image > img:not(:first-child) {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 500ms linear;
}

.answer-item.is-expanded .hidden-image > img:not(:first-child) {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
}

/* .answer-item.is-expanded .js-read-smore {
    margin: 18px 0;
} */
.answer-item .answer-content-description,
.answer-item.is-expanded .answer-inner  {
    margin-bottom: 0;
}
.answer-item.is-expanded .answer-content-description{
    margin-bottom: 18px;
}
/* .answer-item .js-read-smore,  */
/* .answer-item div .slider-block:not(:first-child), */
.answer-item .answer-content-description {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 1000ms;
    -webkit-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
}

/* .answer-item.is-expanded .js-read-smore, */
/* .answer-item.is-expanded div .slider-block:not(:first-child), */
.answer-item.is-expanded .answer-content-description {
    height: auto; 
    opacity: 1;
    transition:  opacity 1000ms;
    -webkit-transition:  opacity 1000ms;
    -o-transition:  opacity 1000ms;
}

/* .answer-item.is-expanded .truncate-text {
    overflow: hidden;
    margin: 0;
    height: 0;
    opacity: 0;
    transition: opacity 1000ms;
    -webkit-transition: opacity 1000ms;
    -o-transition: opacity 1000ms; 
} */

/* .answer-item .truncate-text {
    opacity: 1;
    height: auto;
    transition:  opacity 1000ms;
    -webkit-transition:  opacity 1000ms;
    -o-transition:  opacity 1000ms;
} */

.answer-inner {
    padding: 0 18px;
}



/* --------------------------------------------------------------- */

.collapsible {
    overflow: hidden;
    transition: all 1s ease-in-out;
    height: auto;
    margin: 18px 0;
    opacity: 1;
} 
  
.collapsible.collapsed {
    height: 0; 
    margin: 0;
    opacity: 0;
    
}

.answer-item.is-expanded .answer-content:not(.js-read-smore) {
    display: none;
}


/* .answer-item.is-expanded .answer-content:not(.collapsible) {
    display: none;
}   */
/* .answer-item.is-expanded .answer-content:not(.collapsible) {
    opacity: 0;
    height: 0;
    margin: 0;
    transition: all 300ms ease-in-out;
} */

/* .answer-item .answer-content:not(.collapsible) {
    opacity: 1;
    height: auto;
} */


/* .answer-item .answer-content-answer.collapsible:not(.collapsed) .answer-content {
   display: none;
} */

/* --------------------------------------------------------------- */

/* .answer-inner,  */
.slider-block,
.answer-content-description {
    margin-bottom: 18px;
}

.answer-content-answer.is-hidden {
    max-height: 0;
    overflow: hidden;
}

.answer-content-answer.is-hidden.is-collapse {
    max-height: 9999px;
   
}

.answer-content-answer {
    transition: all 1s ease-in-out;
}

/* custom collapse */
/* .answer-item .js-read-smore {
    max-height: 0;
    overflow: hidden;
    color: #FAFAFA;
} */

/* .answer-item.is-expanded .js-read-smore { 
    max-height: 9999px;
    color: #071148;
    transition: max-height 1000ms;
} */

/* .answer-item div .slider-block:not(:first-child) {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1000ms;
}

.answer-item.is-expanded div .slider-block:not(:first-child) {
    max-height: 9999px;
} */

/* .answer-content-answer {
    transition: max-height 1s;
    max-height: 9999px;
}

.answer-content-answer .is-hidden {
    max-height: 0;
    overflow: hidden;
} */

.answer-top{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-result { 
    position: relative;
    width: 196px; 
    height: 32px; 
    border-radius: 15px;
    border: 1px solid #49A3E5; 
    color: #FAFAFA;
    text-align: center;
}
.label-result--true { 
    background-color: #87D4AB;
}
.label-result--false {  
    background-color: #FFCCB0;
}
.label-result__icon { 
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    height: 21px;
}
.label-result__text { 
    line-height: 30px;
}
.label-result__icon i { 
    font-size: 24.5px;
}
.label-result--true i { 
    color: #0FA958;
}
.label-result--false i { 
    color: #FF9A62;
}

.answer-content {
  margin: 18px 0;
  color: #071148;
}

/* .truncate-text { opacity: 1;} */

.slider-block {
    padding: 0 18px;
}
.slider-block:last-child {
    margin-bottom: 0;
}
.answer-slider {
    display: flex;
    overflow-x: scroll;
    margin: 19px 0;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.answer-slider::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.slider-item {
    position: relative;
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0 0px 3px rgb(0 0 0 / 35%);
    margin: 1px;
}

.slider-item::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.slider-img {
    height: 80px;
}
.slider-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-title {
    margin: 5px;
    color: #071148; 
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
}

.user-info {
    display: flex;
    margin: 10px 5px 5px 5px;
    align-items: center;
}
.user-info__left {
    position: relative;
}
.yt-img {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%);
}
.user-info__right {
    margin-left: 8px;
    color: #4169E1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
}
.avartar {
    width: 28.5px;
    height: 28.5px;
    border-radius: 100%;
    overflow: hidden;
}

.avartar img {
    width: 100%;
    height: 100%;
}

.answer-item .btn {
    font-size: 14px;
    width: 124px;
}

@media only screen and (min-width: 600px) {
    .slider-item { 
        min-width: 200px;
        max-width: 200px;
    }
    .slider-img {
        height: 100px;
    }

    .avartar {
        width: 32px;
        height: 32px;
    }
    .yt-img {
        top: -15px;
    }
}