@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    min-height: 100vh;
    color: #071148;
    animation: fadeIn 1s;
    -moz-animation: fadeIn 1s; 
    -webkit-animation: fadeIn 1s; 
    -o-animation: fadeIn 1s;
}
.container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.hide { display: none!important; visibility: hidden;width: 0; height: 0;}

.float-right {
    float: right;
}
.text-center {
    text-align: center;
}

.bg-main {  
    background-color:  #49A3E5; 
}
.text-main { 
    color: #49A3E5; 
}
.text-white { 
    color: #fff; 
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-break {
    word-wrap: break-word!important;
    word-break: break-word!important;
}

.header-label { 
    padding: 7px 15px; 
}
.header-title { 
    font-size: 18px; 
    padding: 12px 15px; 
}

.label-default { 
    color: #FAFAFA; 
    background-color: #49A3E5; 
    padding: 1px 10px;
    text-align: center; 
    display: inline-block;
    line-height: initial;
}

/* css button  */
.btn { 
    display: inline-block;
    width: 116px; 
    border-radius: 5px;
    text-align: center;
    line-height: initial;
    font-size: 16px; 
    border: none;
    box-shadow: 0 4px 6px rgb(0 0 0 / 35%);
    padding: 6px 0;
}

.btn--primary { 
    background-color: #49A3E5; 
    color: #EDEDED; 
}

.btn--white { 
    background-color: #F1F1F1;
    color: #379AE2; 
}

.btn--info {
    background-color: #49A3E5;
    color: #F7F7F7; 
}

.btn-outline-warning {
    background-color: #F7F7F7;
    color: #FF9A62;
}

.btn-warning {
    background-color:  #FF9A62;
    color: #EDEDED;
}

.fixed-footer { 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff; 
}

.group-btn {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.group-btn.reverse {
    flex-direction: row-reverse;
}

.group-btn .btn{
    margin: 0 18px;
}

.f-bold {
    font-weight: 700!important;
}

.f-italic {
    font-style: italic!important;
}

.f-strikethrough{
	text-decoration: line-through!important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}