@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  min-height: 100vh;
  color: #4C4C4C;
  position: relative;
  background-color: #fff;
}

#diagnose {
  opacity: 1;
  transform: translateX(100vw);
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.hide { display: none!important; visibility: hidden;width: 0; height: 0;}

.not-allow {
  pointer-events: none;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-black {
  color: #000
}

.w-100 {
  width: 100%;
}

.mt-5 {
  margin-top: 5px!important;
}

.mt-15 {
  margin-top: 15px;
}

.mb-0 {
  margin-bottom: 0px!important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-20px {
  margin-top: 20px;
}

.mr-7px  {
  margin-right: 7px;
}

.p-15 {
  padding: 15px;
}

.p-10 {
  padding: 10px;
}

.fs-14 {
  font-size: 14px!important;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}

.f-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.gap-2 {
  gap: 10px;
}

.flex-1 {
  flex: 1;
}

.main-container {
  position: relative;
}

.header-top {
  height: 48px;
  position: relative;
}

.header-label {
  font-size: 16px;
  background-color: #CEEED8;
  color: #424040;
  text-align: center;
  padding: 7px 15px;
  height: 37px;
}

.header-title {
  padding: 7px 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.header-title span {
  display: block;
  color: #252525;
}

.banner  {
  margin-top: 15px;
}

.banner img {
  max-width: 100%;
  width: 90%;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  line-height: initial;
  font-size: 16px;
  border: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 35%);
  padding: 6px 15px;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.inner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--primary {
  /* background-color: #49A3E5; */
  background-color: #2E75B4;
  color: #EDEDED;
}

.btn--light {
  background-color: #F7F7F7;
  border: 1px solid #CEEED8;
}

.btn--success {
  background-color: #CEEED8;
}

.btn--error {
  background-color: #ea4025;
  color: #fff;
}

.btn--warning {
  background-color: #F09A37;
  color: #fff;
}

.btn--blue {
  background-color: #5DC1C9;
  color: #fff;
}

.btn--blue1 {
  background-color: #339AC3;
  color: #fff;
}

.btn--pink {
  background-color: #F787BF;
  color: #fff;
}

.btn--large {
  padding: 9px 15px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
}

.btn-start {
  /* font-size: 18px; */
  font-size: clamp(14px, 4.2vw, 20px);
  padding: 10px;
  max-width: 500px;
  background-color: #203864;
}

.btn-start small { 
  font-size: clamp(8px, 2.4vw, 13px);
}

.btn-start[data-type="p16_types"] { 
  min-width: 200px;
}

.group-btn .btn {
  margin: 0 18px;
  color: #4C4C4C;
}

.btn-top {
  height: 48px;
  width: 48px;
  display: inline-block;
}

.btn-open {
  padding: 11px 7px;
}

.qs-item__top {
  padding: 30px 0;
}

.qs-number {
  width: 75px;
  height: 75px;
  border: 3px solid #A6DAB6;
  border-radius: 50%;
  font-size: 48px;
  color: #A6DAB6;
  line-height: 54px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.qs-item__body {
  padding: 0 15px;
}
.qs-question {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.qs-answer,
.qs-progress {
  padding: 15px;
}

.qs-answer__option {
  position: relative;
  margin-bottom: 15px;
}

.qs-answer__option.disabled {
  opacity: .8;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.qs-answer-item {
  position: relative;
  display: block;
  padding: 10px 20px;
  border: 1px solid #49A3E5;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  border-radius: 7px;
  color: #49A3E5;
}

[type="radio"]:checked + label {
  background-color: #C1E2FC;
}

.qs-progress {
  position: relative;
}

.progress-bar-text {
  font-weight: bold;
  position: absolute;
  top: 0px
}

.progress-bar-text.left {
  left: 15px;
}

.progress-bar-text.right {
  right: 15px;
}

.progress-bar {
  margin-top: 10px;
  height: 10px;
  width: 100%;
  background-color : #E5E5E5
}

.progress-bar__inner {
  background-color: #A6DAB6;
  height: 100%;
  width: 0%;
  transition: width 800ms;
}

.result-content {
  font-size: 14px;
  color: #252525;
  padding: 15px 0;
}

.result-content__img{
  max-width: 80%;
}

.tite-cate {
  font-weight: bold;
  font-size: 16px;
}

.content-item {
  padding: 5px 15px;
}

.content-item img {
  max-width: 80%;
}

.content-label  {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.content-label.blue {
  background-color: #DCF0FF;
  color: #0286E7;
}
.content-label.yellow {
  background-color: #FFF5C4;
  color: #FA8600;
}
.content-label.success {
  background-color: #E7FBED;
  color: #149B15;
}
.content-label.fs-small {
  font-size: 14px;
}
.result-button button {
  min-width: 262px;
}

.comment-item {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.comment-item .comment__image {
  width: 100px;
}
.comment-item .comment__text {
  width: calc(100% - 100px);
  background-color: #E7FBED;
  padding: 15px 10px;
  border-radius: 25px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  opacity: 0;
  transform: translateY(100vh);
  transition: all .5s;
}

.modal-dialog {
  max-width: 350px;
  margin: 165px auto auto;
  position: relative;
  width: auto;
  background-color: #FAFAFA;
  box-shadow: 0 4px 6px rgb(0 0 0 / 35%);
  border-radius: 15px;
}

.modal-body, .modal-footer {
  padding: 20px 15px;
}

.fadeinBottom {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
}

.anreer-anchor, 
.enneagram {
  display: flex;
  flex-direction: column;
}

.anreer-anchor {
  flex-direction: column-reverse !important;
}


.btn-area-large {
  flex: auto; /* ~55% */
}

.btn-area-small {
  flex: auto;
}