

*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  --bs-body-font-size: 1rem;
  --bs-body-line-height: 1.5;
  --bs-body-font-weight: 400;
  --bs-body-bg: #FAFAFA;
  --bs-body-font-color: #212529;
  --bs-body-font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
  font-weight: var(--bs-body-font-weight);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-font-color);
  font-family: var(--bs-body-font-family);
}

.text-center {
  text-align: center;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.ml-auto {
  margin-left: auto!important;
}

.mr-auto {
  margin-right: auto!important;
}

.mx-2 {
  margin-left: 0.5rem!important;
  margin-right: 0.5rem!important;
}

.mx-3 {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.ml-3 {
  margin-left: 1rem!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mt-2rem {
  margin-top: 2rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.my-5 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.mb-35px {
  margin-bottom: 35px !important;
}

.w-100 {
  width: 100%;
}

.w-135px {
  width: 135px;
}

.px-15px {
  padding-left: 15px;
  padding-right: 15px;
}

.radius-0 {
  border-radius: 0 !important;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 26px;
  position: relative;
}

.sub-title {
  color: #005617;
  font-weight: 700;
}

label {
  color: #005617;
  font-weight: 700;
  display: inline-block;
}

.form-label {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #212529;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 5px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
}

.form-control:disabled,
.form-control[disabled] {
  opacity: .75;
  -webkit-text-fill-color: #212529;
  background-color: #fff;
  color: #212529;
  cursor: not-allowed;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group>.form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.input-group>.disable{
  background-color: #fff !important;
  color: #000 !important;
  -webkit-text-fill-color: #000;
  opacity: 1;
}

.custom-select::before {
  content: "\25BC";
  position: absolute;
  right: 0.9rem;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.7rem;
  color: #888;
  pointer-events: none;
} 

.custom-select .form-control:read-only:focus {
  background-color: #fff !important;
  -webkit-box-shadow: none !important;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-font-size: 1rem;
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  background-color: var(--bs-btn-bg);
  color: var(--bs-btn-color);
  font-size: var(--bs-btn-font-size);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
}

.btn--round {
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.7rem;
  border-radius: 2rem;
}

.btn--primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00A2E8;
}

.btn--light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #212529;
}

.btn--lg {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-font-size: 1.25rem;
}

.btn--warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF7F26;
}

.text-valid {
  position: absolute;
  left: 15px;
  bottom: -24px;
  font-size: 1rem;
  line-height: 1.5;
  color: red;
  font-style: italic;
  display: none;
  opacity: 0;
}

.is-invalid .text-valid {
  display: block;
  opacity: 1;
}

.w-100px {
  width: 100px;
}

.w-170px {
  width: 170px;
}

.required {
  background-color: #F3A423;
  color: #fff;
  font-size: .6rem;
  display: inline-block;
  padding: 1px 2px;
  border-radius: 4px;
  margin-left: 5px;
}

.zip-code-container {
  position: relative;
  margin-bottom: 22px;
  display: flex;
  align-items: flex-end;
}

.strike-through {
  margin-bottom: 6px;
}

.data-input{
  color: red;
}


.zip-code-container .form-group {
  margin-bottom: 0;
}

